/* 
********
RESET
********
 */

 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }


 /* 
********
COMMON
********
 */

 body {
    font-family: 'Roboto', sans-serif;
 }

 .flexbox {
    display: flex;
 }

 .layout {
    max-width: 1250px;
    margin: 0 auto;
 }

 h1, h2 {
    font-size: 50px;
 }

 .btn {
    text-decoration: none;
}

.btn.white {
    background-color: white;
    color: black;
}

.btn.black {
    background-color: #23272a;
    color: white;
}

.btn.blue {
    background-color: #7289da;
    color: white;
}

.btn.small {
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 18px;
}

.btn.big {
    font-size: 20px;
    padding: 14px 20px;
    border-radius: 30px;
}

body p {
    line-height: 31px;
    font-size: 19px;
}

.btn strong {
    font-weight: bold;
    vertical-align: middle;
}

 /* 
********
HEADER
********
 */

 header, header nav a {
    color: white;
    text-decoration: none;
 }

 /* Header top */

 .header-top-container {
    align-items: center;
}

 .header-top {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #255ee9;

 }

 .logo, .login, nav {
    padding: 8px;
 }

 .logo, .login {
    width: 150px;
 }

 .logo img {
    width: 100%;
 }

 .login {
    text-align: end;
 }

 .top-menu ul {
    list-style: none;
    justify-content: center;
    gap: 40px;
 }

 .top-menu {
    flex-grow: 1;
 }

/* Header bottom */

 .featured-content {
    max-width: 950px;
    margin: 0 auto;
 }

 .featured-content * {
    text-align: center;
 }

 .header-bottom {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
 }

 .featured-content h1 {
    padding-top: 90px;
    padding-bottom: 30px;
 }

 .featured-content p {
    margin-bottom: 14px;
 }

 .featured-content-buttons {
    justify-content: center;
    gap: 22px;
    margin-bottom: 100px;
 }

 /* 
********
MAIN
********
 */

 .section-one, .section-three {
    background-color: #ffffff;
}

.section-two, .section-four {
    background-color: #f5f5f5;
}

.section {
    padding: 110px 0;
}

.section h2 {
    padding-top: 34px;
    padding-bottom: 26px;
}

.first-content {
    width: 750px;
}

.second-content {
    flex-grow: 1;  
}

.section-two .section-container {
    flex-direction: row-reverse;
}

.section-container-big {
    text-align: center;
    margin-bottom: 45px;
}

.section-container-big img {
    width: 100%;
}

.section-container-big h3 {
    font-size: 30px;
    padding-top: 80px;
    padding-bottom: 70px;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: center 40px;
    background-size: 580px;
}

.wavy-border {
    background-image: url(../img/wave.svg);
    height: 120px;
    filter: opacity(0.04);
}

.wavy-border.rotated {
    transform: scale(1, -1);
}

 /* 
********
FOOTER
********
 */

 footer {
    color: white;
    background-color: #23272a;
 }

 /* Footer top */

 .footer-top {
    padding-top: 10px;
    padding-bottom: 40px;
 }

 .footer-top h4, .footer-top h5 {
    color: #7289da;
 }

.footer-first-content {
    width: 320px;
}

.footer-first-content h4 {
    font-size: 34px;
    margin-top: 66px;
    margin-bottom: 20px;
}

footer .language {
    margin-bottom: 18px;
}

footer .flag {
    display: inline-block;
    width: 26px;
    vertical-align: middle;
}

footer .flag img {
    width: 100%;
}

footer .language i {
    font-size: 0.8em;
}

footer .socials {
    letter-spacing: 10px;
    font-size: 1.2em;
}

.footer-second-content {
    flex-grow: 1;
}

.footer-top h5 {
    font-size: 1em;
    margin-top: 64px;
}

.footer-top .vertical-banner div {
    margin-top: 18px;
}

.vertical-banner {
    flex-grow: 1;
}

/* Footer bottom */

.footer-bottom {
    padding-top: 30px;
    border-bottom: 1px solid #b4b4b3;
}

.bottom-banner {
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #4f5d8c;
}

.logo-bottom, .footer-button {
    padding: 5px;
}
